    <div class="modal-content ">
        <div class="modal-header">
            <h5 class="modal-title">Courses List</h5>
            <button (click)="onClose()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="loading" class="loadscreen mt-5">
                <img src="assets/images/logo.png" class="logo mb-3" style="display: none" alt="">
                <div class="loader-bubble loader-bubble-primary d-block"></div>
            </div>
            <div *ngIf="!loading" class="row">
                <!-- Loop through each module and display as a card -->
                <div  class="col-md-6 mb-4" *ngFor="let module of modules">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-primary">{{ module.name }}</h5>
                            <p class="card-text text-muted">{{ module.description }}</p>
                            <p *ngIf="module.skills && module.skills.length>0" class="card-text">
                                <strong>Skills:</strong> {{module.skills.join(' | ')}}
                            </p>
                            <p *ngIf="module.semester === 'FIRST_SEMESTER' " class="card-text">
                                <strong>Semester:</strong> First Semester
                            </p>
                            <p *ngIf="module.semester === 'SECOND_SEMESTER' " class="card-text">
                                <strong>Semester:</strong> Second Semester
                            </p>
                            <p class="card-text"><strong>Teacher:</strong><span [ngClass]="{'text-danger': !module.courseTeacher}">
                                {{ module.courseTeacher || "Not assigned" }}</span></p>
                            <p class="card-text">
                                <strong>Credits:</strong> {{ module.credit }}
                            </p>
                            <!-- Buttons aligned at the bottom -->
                            <div class="mt-auto d-grid gap-2">
                                <!-- View Course Button -->
                                <button
                                        class="btn btn-primary mr-2"
                                        *ngIf="module.courseCreated"
                                        (click)="onClose()"
                                        routerLink="institution/course/{{ module.courseID }}">
                                    View Course
                                </button>

                                <!-- Create Course Button -->
                                <button
                                        class="btn btn-success mr-2"
                                        *ngIf="!module.courseCreated"
                                        (click)="createCourse(module)">
                                    Create Course
                                </button>

                                <!-- Delete Course Button -->
                                <button
                                        class="btn btn-danger mr-2"
                                        *ngIf="module.courseCreated"
                                        (click)="deleteCourse(module.courseID)">
                                    Delete Course
                                </button>

                                <!-- Set Teacher Button -->
                                <button
                                        class="btn btn-warning mr-2"
                                        *ngIf="module.courseCreated"
                                        (click)="openAsssignTeacherModal(module)"
                                >
                                    Set Teacher
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="onClose()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
