.icon-enabled {
  transition: color 0.3s ease;
}

.icon-disabled {
  transition: color 0.3s ease;
}

.icon-enabled:hover, .icon-disabled:hover {
  color: #218838; /* Darker green for enabled */
}

.icon-banned:hover {
  color: #c82333; /* Darker red for banned */
}
