<nav aria-label="breadcrumb" class="breadcrumb-container">
    <h1 class="page-title">User Profile</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
    </ol>
</nav>
<div class="separator-breadcrumb border-top mb-3"></div>


<div class="card user-profile o-hidden mb-4">
    <div class="header-cover" style="background-image: url('assets/images/photo-wide-4.jpg'); background-size: cover; background-position: center;"></div>
    <div class="user-info text-center">
        <img class="profile-picture rounded-circle avatar-lg mb-2" [src]="imageSrc || 'assets/default-image.jpg'" alt="{{ user?.profile.name || 'User' }}'s profile picture">
        <p class="m-0 text-24 font-weight-bold">{{ (user?.profile.name && user?.profile.lastname) ? (user?.profile.name + ' ' + user?.profile.lastname) : user?.email }}</p>
        <p class="text-muted m-0">{{ user?.profile.title || 'N/A' }}</p>
    </div>
<div class="card-body">
    <ngb-tabset class="nav-center responsive-tabs">
        <ngb-tab title="About">
            <ng-template ngbTabContent>
                <h4 class="font-weight-bold">Personal Information</h4>
                <p>{{ user?.profile.bio || "No biography provided." }}</p>
                <hr>
                <div class="row">
                    <div class="col-md-4 col-6 mb-3">
                        <div *ngIf="user?.profile.birthDate">
                            <p class="text-primary mb-1"><i class="i-Calendar text-16 mr-1"></i> Birth Date</p>
                            <span>{{ user?.profile.birthDate | date:'dd/MM/yyyy' }}</span>
                        </div>
                        <div *ngIf="user?.profile.country">
                            <p class="text-primary mb-1"><i class="i-Globe text-16 mr-1"></i> Lives In</p>
                            <span>{{ user?.profile.country }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 mb-3">
                        <div *ngIf="user?.profile.gender">
                            <p class="text-primary mb-1"><i class="i-MaleFemale text-16 mr-1"></i> Gender</p>
                            <span>{{ user?.profile.gender }}</span>
                        </div>
                        <div *ngIf="user?.email">
                            <p class="text-primary mb-1"><i class="i-Mail-2 text-16 mr-1"></i> Email</p>
                            <span>{{ user?.email }}</span>
                        </div>
                    </div>
                </div>
                <hr>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
</div>
